@import "tailwindcss";

@theme {
  --color-brand-primary: #0066FF;
  --color-brand-secondary: #00D1FF;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}
